body {
    margin: 0 auto;
    font-family: 'consolas', courier;
    background-color: #d9d9d9;
}
main {
    margin: 0 10% 0 10%;
    padding: 0 0 0 0;
    background-color: #fff;
}
div.head {
    background-image: url("anakin.png");
    background-repeat: no-repeat;
    background-position: center top;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    padding: 10px;
}