body {
    margin: 0 auto;
    background-image: url("bg.png");
    background-color: #cccccc;
}
main {
    font-family: 'consolas', courier;
    padding: 50px 10% 25px 10%;
}
/* navbar */
div {
    padding: 0 10% 0 10%;
}
ul {
    font-family: 'oswald', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

.logo {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgb(57, 146, 219);
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
/* /navbar */
h1 {
    color: rgb(57, 146, 219);
    font-size: 3.7em;
    padding: 0 0 0 0;
    margin: 40px 0 20px 0;
}
h3,h4 {
    color: #333;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
h3 {
    text-align: center; 
    font-size: 2.5em;
}
h4 {
    text-align: left;
    font-size: 1.7em;
}
.heading3 {
    text-align: left;
    font-size: 2.5em;
}
p {
    font-size: 1.2em;
}